
.main-form{

}
.main-form .input-area{
  display: inline;
  width: 30%;
}

.titulo h2 {
  color: #726D6C;
  margin: 0;
  font-size: 24px;
}

.titulo h1 {
  margin: 0;

}
footer{
background-color:#f47b20;
height:2em;
display: inline;
}
